* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(212, 115, 131);
    font-size: 1.6rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    overflow-x: hidden;
}

.title{
    position: relative;
}


.title h1{
    text-shadow: -1px 0 rgb(255, 28, 153), 0 1px rgb(247, 28, 255), 1px 0 rgb(247, 28, 255), 0 -1px rgb(247, 28, 255);
    border-radius: 25px;
    font-size: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    background-color: rgba(226, 188, 188, 0.6);
    color: #251d25;
    padding: 10px;
}

.title p{
    font-size: 3.4rem;
}

.title img{
    margin: 20px;
    min-width: 10%;
    max-width: 20%;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px; 
    padding: 2px;
    background-color: #2c2c2c;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin: 0;
}

.menu {
    background-color: #161212;
    overflow: hidden;
}

.menu a{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 12px;
    font-size: 2rem;
    text-decoration: none;
    
}
.menu li{
    list-style-type: none;

}

.menu a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.menu li.active a{
    background-color: #5f5656;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.bodybelow{
    background-image: url("../images/notes.jpg");
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    display: block;
    position: relative;
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten;   
}


.main-content{
    margin: 0;
    text-align: center;
    padding: 20px 0px;
}

#gora{
    background-color: white;
    width: 70%;
    text-align: center;
    margin: 100px auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#gora p{
    padding: 20px 30px;
    font-size: 2rem;
    font-weight:bolder;
}

.atuty{
    margin: 0px 0px;
    background-color: rgb(240, 167, 167);
    display:flex;
    position: relative;
    min-height:40vh;
    width: 100%;
}

.atut{
    flex: 10%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    margin: 70px 30px 30px;
    background-color: white;
}

.atut img{
    margin-top: 30px;
    width: 20%;
}

.atut p{
    text-align: center;
    padding: 50px 20px;
    font-size: 1.8rem;
    
}

#atutytytuł {
    position: relative;
    padding: 10px 0px;
    background-color: rgb(240, 167, 167);

}

#atutytytuł h1{
    background-color: rgb(255, 201, 201);

    margin-top: 40px;
    text-align: center;
    padding: 30px 10px;
    font-size: 5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}


.onas{
    display: flex;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    margin: 100px auto 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.onascontent{
    flex: 40%;
    padding: 50px 50px;
}
.onascontent img{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    max-width:100%;
    max-height:100%;
    min-width: 300px;


}

.onascontent p{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    font-size: 2.4rem;
    padding: 40px;
    min-width: 300px;

    
}
.onascontent h1{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: white;
    font-size: 6rem;
    font-weight: bolder;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.kontakt{
    margin: 0 100px 0px;
    text-align:center;
    padding: 40px 0px;
}

.info{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 30px;
    background-color: white; 
}
.info p{
    font-size: 2rem;
    margin: auto;
}

.mapa iframe{
    display: block;
    margin: 50px auto;
    width: 60%;
    border: 4px solid rgb(247, 121, 138);
    height: 600px;
}

.zasady{
    display: block;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    margin: 60px 90px;
    background-color: white;
    padding: 10px 20px;
    text-align: left;
}
.zasady p{
    padding: 10px 10px;
    font-size: 2rem;
}

.zasady h1{
    font-size: 4rem;
}

.zasady h2{
    font-size: 3rem;
    color: rgb(189, 21, 99)
}


.umowa{
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    margin: 100px auto 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.umowacontent{
    flex: 40%;
    padding: 50px 40px;
}
.umowacontent img{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    max-width:100%;
    max-height:100%;
}

.umowacontent p{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    font-size: 2.4rem;
    padding: 30px;
    min-width: 300px;
    
}
.umowacontent h2{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(241, 203, 214);
    text-align: center;
    font-size: 4rem;
    padding: 10px;
}



.pianina{
    display:inline-flex;
    width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 6px;
    margin: auto auto 30px;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    
}

.pianino{
    flex: 1;
    margin: 20px 40px;
    padding: 30px 30px;
}

.pianino p{
    font-size: 2.5rem;
    min-width: 300px;
}

.pianino h2{
    font-size: 5rem;
    color: rgb(255, 56, 89);
}

.pianina img{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    max-width:100%;
    max-height:100%;
    padding:10px;
}

.cena{
    background-color: pink;
    font-size: 3rem;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#pianinatytul {
    padding: 0px 0px;
}

#pianinatytul h1{
    background-color: rgb(247, 171, 171);
    margin:  0;
    text-align: center;
    padding: 30px 10px;
    font-size: 5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}

.form input[type=text], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin:10px auto;
    resize: vertical;
}

.form input[type=submit] {
    background-color: #ff3939;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
}

.form {
    width: 30%;
    margin: auto;
    border-radius: 5px;
    background-color: #ffcff1;
    padding: 20px;
    vertical-align: top;
    min-width:fit-content;
}


.open-button {
    position: relative;
    background-color: #ff0040;
    color: white;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin: 60px 0 10px;
    bottom: 23px;
    width: 100%;
    height: 120px;
    font-size: 5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.form-popup {
    display: none;
    position: relative;
    border: 3px solid #df628c;
    width: 70%;
    margin: auto auto 20px;
    
}

#form-container {
    padding: 10px;
    background-color: white;
    opacity: 80%;
}

#form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

#form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

#form-container .cancel {
    background-color: red;  
}
